.container{
    min-width: 240px;
    background-color: #2b2d31;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
}

@media screen and (max-width: 880px) {
    .container{
        display: none;
    }
}

.containerInput{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 48px;
    background-color: #2b2d31;
    button{
        cursor: pointer;
        font-family: 'ggSans';
        border-radius: 5px;
        font-size: .9rem;
        width:220px;
        height: 28px;
        padding: .4rem;
        color: #9097a0;
        background-color: #191a1c;
        display: flex;
        align-items: center;
    }
    border-bottom: #191a1c 1px solid;
}

.icon{
    color: #949ba4;
    width: 24px;
    height: 24px;
}


.firstButton{
    margin-top: 56px;
}

.otherbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem !important;
}

.button{
    width: 216px;
    height: 42px;
    transition: background-color .2s ease-in-out;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: .5rem;
    p{
        color: #949ba4;
    }
    &:hover{
        cursor: pointer;
        background-color: #35373c;
    }
}


.subtitle{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 216px;
    font-size: 12px;
    font-family: 'ggSansBold';
    color: #949ba4;
    user-select: none;
    margin-bottom: .8rem;

    svg{
        transform: scale(.8);
        cursor: pointer;
    }
    p:hover{
        color: #fff;
    }

}


.sectionChats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 240px;
}



.chatPreview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #949ba4;
    width: 230px;
    height: 42px;
    padding: .5rem;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    &:hover{
        color: #fff;
        cursor: pointer;
        background-color: #35373c; 
        svg{
            color: #949ba4;
        }
    }
    img{
        width: 32px;
        height: 32px;
        border-radius: 2rem;
    }
    svg{
        color: #2b2d31;
        transform: rotate(45deg);
        width: 20px;
    }
    svg:hover{
        color: #fff;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
}

.chatActive{
    background-color: #35373c;
    color: #fff;
    svg{
        color: #35373c;
    }
}



.invisible{
    transform: translate(-162px , 9px);
    outline: 3px solid #2b2d31 ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #80848e;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #111214 ;
    }
}

.online{
    transform: translate(-162px , 9px);
    outline: 3px solid #2b2d31 ;
    z-index: 1;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #23a55a;
}


.idle{
    transform: translate(-162px , 9px);
    outline: 3px solid #2b2d31 ;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f0b232;
    &::after{
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #111214 ;
    }
}

.disturd{
    transform: translate(-162px , 9px);
    outline: 3px solid #2b2d31 ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f23f43;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        display: block;
        content: '';
        width: 6px;
        height: 2px;
        background-color: #111214 ;
    }
}


.containerProfile{
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 240px;
        height: 48px;
        background-color: #232428;
        padding: .5rem;
        svg{
            color: #949ba4;
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: color .2s ease-in-out;
            &:hover{
                color: #fff;
            }
        }
        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        div{
            display: flex;
            gap: .8rem;
            color: #949ba4;
        } 
        section{
            display:flex;
            align-items: center;
            gap: .5rem;
            h4{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 101px;
                overflow: hidden;
                color: #fff;
                
            }
            span{

                font-size: 12px;
                color: #949ba4;
            }
            main{
                display:flex;
                flex-direction: column;
            }
        }
}


.containerModal{
    width: 100%;
    height: 100vh;
    background-color: #00000069;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: #0000009a;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerModalnone{
    display: none;
}

.modal{
    width: 570px;
    height: 290px;
    background-color: #2b2d31;
    z-index: 8;
    border-radius: .5rem;
}
